.test {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;

    @media screen and (max-widht: 960px){
        transition: 0.8 all ease;
    }
}
